[galaxy]
server_list = automation_hub

[galaxy_server.automation_hub]
url=https://aap-hub.crucible.iisl.com/api/galaxy/
auth_url=https://aap-hub.crucible.iisl.com/api/galaxy/token/
token=2ZC4tLuqYI82gfVf5r8JAt0lKkt5B6